body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 64px;
  background: #ff8585;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.title {
  color: white;
  margin: 0;
  padding-left: 16px;
  font-size: 1.5em;
  padding-top: 17px;
  font-weight: 100;
  float: left;
}
.icons {
  margin-top: 17px;
  color: white;
  font-size: 1.4em;
}

.right {
  float: right;
  margin-right: 16px;
}

.left {
  margin-left: 16px;
  float: left;
}

.fas {
  padding-left: 4px;
  cursor: pointer;
}

.card {
  position: relative;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(12, 12, 12, 0.5);
  margin: 16px 8px 0 8px;
}

.card-title {
  padding: 8px 0 0 8px;
  font-size: 1.1em;
  font-size: 1.4em;
}

.inputs {
  padding: 0 16px 16px 16px;
}

input:focus {
  outline: none;
}

.inputs-text {
  display: inline-block;
  font-size: 1.05em;
  color: #757575;
}

a {
  color: #757575;
  text-decoration: none;
}
.inputs-field {
  display: inline-block;
  /* float: right; */
}

.input {
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  /* border-bottom: 1px solid !important; */
  /* font-size: 0.5em; */
  color: #757575;
}

.input-label {
  margin: 0;
  font-weight: 100;
  font-size: 1em;
  margin-left: 5px;
}

.user {
  padding-top: 16px;
}

#file-input {
  padding: 16px 0 0 16px;
}
